.btn {
    display: inline-block;
    color: #ffffff;
    background-color: rgb(92, 118, 182);
    padding: 0.4rem 0.8rem;
    border-radius: 0.25rem;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 44px;
    padding-right: 44px;
}

.btn-send {
    width: 100%;
    padding: 0 2rem;
    margin-top: 20px;
    min-height: 48px;
    font-size: 16px;
}