.project-info {
    padding-top: 1.5rem;

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        gap: 0.5rem;
    }

    &__title {
        font-family: "Syncopate", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__summary {
        
        p {
            margin: 0;
        }
    }
}