.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    scroll-margin-top: 40px;

    &__content {
        text-align: center;
    }

    &__logo-container {
        display: block;
        padding-top: 2rem;
        padding-bottom: 1rem;
        line-height: 0;
    }

    &__title {
        font-family: 'Syncopate', sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
    }
}
